body {
    background: black;
    color: lightseagreen;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.screen {
    display: flex;
    justify-content: space-between;
}


/* LEFT */

.screen-left {
    background: #2e2e2e;
    border-radius: 10px;
    width: 100%;
    margin: 1em;
}

.screen #pb-info-title {
    font-size: 1.9em;
    text-align: center;
    background: #222222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.screen #pb-info-level {
    font-size: 1.9em;
    text-align: center;
}

.screen #pb-settings {
    font-size: 1.5em;
    text-align: right;
}

#pb-general-info .pb-info-group {
    padding: 1em;
}

#pb-general-info .label {
    font-size: 1.9em;
    margin-bottom: 0.1em;
    color: lightseagreen;
}

#pb-general-info .value {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: white;
}


/* CENTER */

.screen-center {
    border-radius: 10px;
    width: 100%;
    margin: 1em;
}

.screen #pb-info-blinds .label {
    font-size: 1.2em;
    text-align: center;
}

.screen #pb-current-blinds {
    font-size: 3.5em;
    text-align: center;
    color: white;
}

.screen #pb-current-ante {
    font-size: 2.7em;
    text-align: center;
    color: white;
}

.screen #pb-info-timer {
    display: flex;
    justify-content: center;
}

.screen #pb-info-timer .circle {
    height: 13em;
    width: 13em;
    border-radius: 50%;
    border: 2.2em solid rgb(0, 100, 0);
    padding: 2.2em;
}

.screen #pb-timer {
    font-size: 5em;
    text-align: center;
    height: 200px;
    color: white;
    width: 100%;
    height: 100%;
    line-height: 2.5em;
}

.screen #pb-info-players {
    font-size: 2.5em;
    text-align: center;
}


/* RIGHT */

.screen-right {
    background: #2e2e2e;
    border-radius: 10px;
    width: 100%;
    margin: 1em;
}

.screen-right #pb-timer-controls {
    display: flex;
    justify-content: space-between;
}

.screen-left>div,
.screen-center>div,
.screen-right>div {
    padding: 1em;
}

.screen-right .pb-row.pb-buttons {
    display: flex;
    justify-content: space-between;
}

.screen-right .pb-row.pb-buttons .pb-button {
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.screen-right .pb-ranking-row {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.screen-right .pb-player-photo {
    width: 3em;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    border-radius: 50%;
    margin: 0 10px;
}

#pb-ranking-box {
    padding: 10px;
}

#pb-right-header {
    font-size: 34px;
    text-align: center;
    background: #222222;
    padding: 10px 0;
}

.pb-ranking-row .pb-player-place {}

.pb-ranking-row .pb-player-place {}

.pb-ranking-row .pb-player-name {
    width: 70%
}

.pb-ranking-row .pb-player-place {}